<nav class="navbar">
    <div class="navbar__content">
        <h1 class="navbar__title">Loan Management System </h1>
    </div>
    <div class="navbar__user">
        <h2 class="navbar__username">Admin</h2>
        
        <form action="/logout">
            <button>Logout</button>
        </form>
    </div>
</nav>