<nav class="pagination">
    <!-- Pag nasa first page, wag mo ipakita yung previous -->
    <ul>
        <li>Previous</li>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>Next</li>
    </ul>
    <!-- Pag nasa last page, wag mo ipakita yung next -->

</nav>