<nav class="pagination">
    <!-- Pag nasa first page, wag mo ipakita yung previous -->
    <ul>
        <% if (pages > 1) { %>
            <% if (currentPage > 1) { %>
                <a href='?page=<%- currentPage - 1 %>'>Previous</a>
            <% } %>

            <% for (let x = 0; x < pages; x++) { %>
                <a href='?page=<%- x + 1 %>'><%- x + 1 %></a>
            <% } %>

            <% if (currentPage < pages) { %>
                <a href='?page=<%- parseInt(currentPage) + 1 %>'>Next</a>
            <% } %>
        <% } %> 
    </ul>
    <!-- Pag nasa last page, wag mo ipakita yung next -->

</nav>