<nav class="sidebar">
    <ul class="sidebar__btns">
        <li><a href="/">Dashboard</a></li>
        <li><a href="/loans">Loans</a></li>
        <li><a href="/payments">Payments</a></li>
        <li><a href="/borrowers">Borrowers</a></li>
        <li><a href="/loan-plans">Loan Plans</a></li>
        <li><a href="/loan-types">Loan Types</a></li>
        <li><a href="/users">Users</a></li>
    </ul>
</nav>
<!-- Create active classes -->