<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container">
        <%- include('./partials/sidebar.ejs') %>
        <main>
            <!-- popup modals -->

            <div class="new__borrower">
                <div class="new__borrower__box">
                    <div class="new__borrower__header">
                        <h1 class="new__borrower__title">New Borrower</h1>
                        <svg class="new__borrower__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                            <path d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"/>
                        </svg>
                    </div>

                    <form>
                        <div class="names__box">
                            <div>
                                <label for="last_name">Last Name:</label>
                                <input type="text" id="last_name" name="last_name" required>
                            </div>
                            <div>
                                <label for="first_name">First Name:</label>
                                <input type="text" id="first_name" name="first_name" required>
                            </div>
                            <div>
                                <label for="middle_name">Middle Name:</label>
                                <input type="text" id="middle_name" name="middle_name" required>
                            </div>
                        </div>
                        <div class="names__address__box">
                            <div>
                                <label for="address">Address:</label>
                                <input type="text" id="address" name="address" required>
                            </div>
                            <div>
                                <label for="contact">Contact:</label>
                                <input type="text" id="contact" name="contact" required>
                            </div>
                        </div>
                        <div class="names__email__box">
                            <div>
                                <label for="email">Email:</label>
                                <input type="email" id="email" name="email" required>
                            </div>
                            <div>
                                <label for="tax_id">Tax ID:</label>
                                <input type="text" id="tax_id" name="tax_id" required>
                            </div>
                        </div>
                        <button class="new__borrower__save">Save</button>
                    </form>
                </div>
            </div>

            <!-- End of popups -->
            <div class="borrower__header">
                <h1 class="borrower__title">Borrower List</h1>
                <button class="borrower__add__borrower"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg>New Borrower</button>
            </div>
            <div class="borrower">
                <div class="borrower__filter">
                    <div class="borrower__entries">
                        <h2 class="borrower__entries__show">
                            Show
                            <select>
                                <option value="1">1</option>
                            </select>
                            entries 
                        </h2>
                    </div>
                    <form class="borrower__search__form">
                        <label for="search">Search:</label>
                        <input type="text" id="search" placeholder="Search..." required>
                    </form>
                </div> 

                <table class="borrower__table">
                    <tr>
                        <th>#</th>
                        <th>Borrower</th>
                        <th>Current Loan</th>
                        <th>Next Payment Schedule</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>
                            <span>Name: Andres, Paul D.</span>
                            <span>Address: Sample Address</span>
                            <span>Contact #: 09214231007</span>
                            <span>Email: polopdoandres@gmail.com</span>
                            <span>Tax ID: 78908-32</span>
                        </td>
                        <td>None</td>
                        <td>N/A</td>
                        <td>
                            <button class="loan__types__edit">Edit</button>
                            <button class="loan__types__delete">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>
                            <span>Name: Andres, Paul D.</span>
                            <span>Address: Sample Address</span>
                            <span>Contact #: 09214231007</span>
                            <span>Email: polopdoandres@gmail.com</span>
                            <span>Tax ID: 78908-32</span>
                        </td>
                        <td>None</td>
                        <td>N/A</td>
                        <td>
                            <button class="loan__types__edit">Edit</button>
                            <button class="loan__types__delete">Delete</button>
                        </td>
                    </tr>
                </table>
            </div>
        </main>
    </div>

    <script>
        
        const newBorrowerModal = document.querySelector('.new__borrower');
        const openBorrowerModalBtn = document.querySelector('.borrower__add__borrower');
        const closeNewBorrowerBtn = document.querySelector('.new__borrower__close');

        openBorrowerModalBtn.addEventListener('click', () => {
            newBorrowerModal.style.display = 'flex';
        });
        closeNewBorrowerBtn.addEventListener('click',() => {
            newBorrowerModal.style.display = 'none';
        })
    </script>
</body>
</html>