<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container">
        <%- include('./partials/sidebar.ejs') %>
        <main>
            <h1 class="welcome__back">Welcome back Admin!</h1>
            <div class="counts">
                <div class="card card--payments">
                    <div class="card__content">
                        <h2 class="card__title">Payments Today</h2>
                        <span class="card__number">0.00</span>
                    </div>
                    <div class="card__view">
                        <a href="#">View Payments</a>
                    </div>
                </div>
                <div class="card card--borrowers">
                    <div class="card__content">
                        <h2 class="card__title">Borrowers</h2>
                        <span class="card__number">1</span>
                    </div>
                    <div class="card__view">
                        <a href="#">View Borrowers</a>
                    </div>
                </div>
                <div class="card card--loans">
                    <div class="card__content">
                        <h2 class="card__title">Active Loans</h2>
                        <span class="card__number">1</span>
                    </div>
                    <div class="card__view">
                        <a href="#">View Active Loans</a>
                    </div>
                </div>
                <div class="card card--receivable">
                    <div class="card__content">
                        <h2 class="card__title">Total Receivable</h2>
                        <span class="card__number">100,000</span>
                    </div>
                    <div class="card__view">
                        <a href="#">View Total Receivables</a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>