<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container">
        <%- include('./partials/sidebar.ejs') %>
        <main>
            <h1 class="welcome__back">Welcome back Admin!</h1>
            <div class="counts">
                <div class="card card--payments">
                    <div class="card__content">
                        <h2 class="card__title">Payments Today</h2>
                        <span class="card__number">0.00</span>
                    </div>
                    <div class="card__view">
                        <a href="/payments">
                            View Payments
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                                <path d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="card card--borrowers">
                    <div class="card__content">
                        <h2 class="card__title">Borrowers</h2>
                        <span class="card__number">1</span>
                    </div>
                    <div class="card__view">
                        <a href="/borrowers">
                            View Borrowers
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                                <path d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="card card--loans">
                    <div class="card__content">
                        <h2 class="card__title">Active Loans</h2>
                        <span class="card__number">1</span>
                    </div>
                    <div class="card__view">
                        <a href="/loans">
                            View Active Loans
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                                <path d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="card card--receivable">
                    <div class="card__content">
                        <h2 class="card__title">Total Receivable</h2>
                        <span class="card__number">100,000</span>
                    </div>
                    <div class="card__view">
                        <a href="#">
                            View Total Receivables
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                                <path d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
<script>
    const button = document.querySelector('.sidebar__btns a');
</script>
</html>