<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="login">LOGIN</h1>
    <form>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <button>Login</button>
    </form>

    <p class="login-msg"></p>
</body>

<script>
    const form = document.querySelector('form')
    const msg = document.querySelector('.login-msg')

    form.addEventListener('submit', async (e) => {
        e.preventDefault()

        const username = form.username.value
        const password = form.password.value

        msg.innerHTML = ""

        try {
            const response = await fetch('/', {
                method: 'POST',
                body: JSON.stringify({ username, password }),
                headers: { 'Content-Type': 'application/json' }

            })
            const data = await response.json()
            
            if (data.user) {
                return location.assign('/dashboard')
            }
            msg.innerHTML = data

        } catch (error) {
            console.log(error)
          
        }
    })
</script>

</html>
