<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <div class="login__container">
        <div class="login__subcontainer">
            <h1 class="login">LOGIN</h1>
            <form class="login__form">
                <div class="login__box">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" required>
                </div>

                <div class="login__box">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" required>
                </div>

                <button>Login</button>
            </form>

            <p class="login-msg"></p>
        </div>
    </div>
</body>

<script>
    const form = document.querySelector('form')
    const msg = document.querySelector('.login-msg')

    form.addEventListener('submit', async (e) => {
        e.preventDefault()

        const username = form.username.value
        const password = form.password.value

        msg.innerHTML = ""

        try {
            const response = await fetch('/', {
                method: 'POST',
                body: JSON.stringify({ username, password }),
                headers: { 'Content-Type': 'application/json' }

            })
            const data = await response.json()
            
            if (data.user) {
                return location.assign('/dashboard')
            }
            msg.innerHTML = data

        } catch (error) {
            console.log(error)
          
        }
    })
</script>

</html>
