<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container">
        <%- include('./partials/sidebar.ejs') %>
        <main>

            <!-- Popup Modals -->
            <div class="new__loan">
                <div class="new__loan__box">
                    <div class="new__loan__box__header">
                        <h2 class="new__loan__title">New Loan</h2>
                        <svg class="new__loan__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                            <path d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"/>
                        </svg>
                    </div>

                    <form class="new__loan__form">
                        <div class="new__loan__borrower">
                            <div>
                                <label for="borrower">Borrower:</label>
                                <select name="borrower" id="borrower" required>
                                    <option hidden>Select Borrower</option>
                                    <option value="">Borrower 1</option>
                                    <option value="">Borrower 2</option>
                                    <option value="">Borrower 3</option>
                                </select>
                            </div>
                            <div>
                                <label for="loan_type">Loan Type:</label>
                                <select name="loan_type" id="loan_type" required>
                                    <option hidden>Select Loan Type</option>
                                    <option value="">Loan Type 1</option>
                                    <option value="">Loan Type 2</option>
                                    <option value="">Loan Type 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="new__loan__plan">
                            <div>
                                <label for="loan_plan">Loan Plan:</label>
                                <select name="loan_plan" id="loan_plan" required>
                                    <option hidden>Select Loan plan</option>
                                    <option value="">Loan Type 1</option>
                                    <option value="">Loan Type 2</option>
                                    <option value="">Loan Type 3</option>
                                </select>
                                <span>months[interest%, penalty%]</span>
                            </div>
                            <div>
                                <label for="loan_amount">Loan Amount:</label>
                                <input type="number" name="loan_amount" id="loan_amount" required>
                            </div>
                        </div>
                        <div class="new__loan__purpose">
                            <div>
                                <label for="purpose">Purpose</label>
                                <textarea name="purpose" id="purpose" cols="30" rows="5"></textarea>
                            </div>
                            <div>
                                <span class="new__loan__calc">Calculate</span>
                            </div>
                        </div>
                        <button class="new__loan__save">Save</button>
                    </form>
                </div>
            </div>

            <div class="delete">
                <div class="delete__box">
                    <div class="delete__head">
                        <h1 class="delete__title">Delete Loan</h1>
                    </div>
                    <form class="popup__delete__loans">
                        <h2 class="ask__delete__title">Are you sure you want to delete this?</h2>
                        <div class="ask__buttons">
                            <button>Yes</button>
                            <span class="close__delete">No</span>
                        </div>
                    </form>
                </div>
            </div>

            <div class="edit">
                <div class="edit__box">
                    <div class="edit__head">
                        <h1 class="edit__title">Update Loan</h1>
                        <svg class="edit__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                            <path d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"/>
                        </svg>
                    </div>

                    <form class="popup__update__loans">
                        <!-- <div>
                            <label for="type">Type Name:</label>
                            <input type="text" name="type" value="" id="update-type-text">
                        </div>
                        <div>
                            <label for="type">Description:</label>
                            <input type="text" name="description" value="" id="update-description-text">
                        </div> -->
                        <h1>WHAT TO INPUTS TO SHOW?</h1>
                        <button>Update</button>
                    </form>
                </div>
            </div>
            <!-- End of Popup Modals -->

            <div class="borrower__header">
                <h1 class="borrower__title">Loans</h1>
                <button class="borrower__add__borrower">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/>
                    </svg>Create New Application</button>
            </div>
            <div class="borrower">
                <div class="borrower__filter">
                    <div class="borrower__entries">
                        <h2 class="borrower__entries__show">
                            Show
                            <select>
                                <option value="1">1</option>
                            </select>
                            entries 
                        </h2>
                    </div>
                    <form class="borrower__search__form">
                        <label for="search">Search:</label>
                        <input type="text" id="search" placeholder="Search..." required>
                    </form>
                </div> 

                <table class="borrower__table">
                    <tr>
                        <th>#</th>
                        <th>Borrower</th>
                        <th>Loan Details</th>
                        <th>Next Payment Details</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>
                            <span>Name: Andres, Paul D.</span>
                            <span>Address: Sample Address</span>
                            <span>Contact #: 09214231007</span>
                            <span>Email: polopdoandres@gmail.com</span>
                            <span>Tax ID: 78908-32</span>
                        </td>
                        <td>None</td>
                        <td>N/A</td>
                        <td>Released</td>
                        <td>
                            <button class="loan__types__edit">Edit</button>
                            <button class="loan__types__delete">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>
                            <span>Name: Andres, Paul D.</span>
                            <span>Address: Sample Address</span>
                            <span>Contact #: 09214231007</span>
                            <span>Email: polopdoandres@gmail.com</span>
                            <span>Tax ID: 78908-32</span>
                        </td>
                        <td>None</td>
                        <td>N/A</td>
                        <td>Released</td>
                        <td>
                            <button class="loan__types__edit">Edit</button>
                            <button class="loan__types__delete">Delete</button>
                        </td>
                    </tr>
                </table>
            </div>
        </main>
    </div>
    <script>
        const newLoanModal = document.querySelector('.new__loan');
        const closeNewLoanModalBtn = document.querySelector('.new__loan__close');
        const openNewLoanModalBtn = document.querySelector('.borrower__add__borrower');

        const deleteLoanModal = document.querySelector('.delete');
        const openDeleteLoanModalBtns = document.querySelectorAll('.loan__types__delete');
        const closeDeleteLoanModalBtn = document.querySelector('.close__delete');

        const editModal = document.querySelector('.edit');
        const openEditModalBtns = document.querySelectorAll('.loan__types__edit');
        const closeEditModalBtn = document.querySelector('.edit__close');

        openEditModalBtns.forEach(editBtn => {
            editBtn.addEventListener('click', () => {
                editModal.style.display = 'flex';
            })
        })
        closeEditModalBtn.addEventListener('click',() => {
            editModal.style.display = 'none';
        })

        openDeleteLoanModalBtns.forEach(openDeleteLoanModalBtn => {
            openDeleteLoanModalBtn.addEventListener('click', () => {
                deleteLoanModal.style.display = 'flex';
            });
        });
        closeDeleteLoanModalBtn.addEventListener('click', () => {
            deleteLoanModal.style.display = 'none';
        });
        


        openNewLoanModalBtn.addEventListener('click', () => {
            newLoanModal.style.display = 'flex';
        });
        closeNewLoanModalBtn.addEventListener('click',() => {
            newLoanModal.style.display = 'none';
        })
    </script>
</body>
</html>