:root {
    --bg-white: rgb(241, 239, 239);

    --bg-payments: #007AF7;
    --bg-payments-hover: #1a8afa;
    --bg-delete: rgb(243, 33, 33);
    --bg-borrowers: #28A649;
    --bg-loans: #FEC417;
    --bg-receivable: #17A5AA;
    --bg-dim: rgba(0, 0, 0, 0.475);

    --title-size: 1.4em;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
/* Login page and Signup page */
.login {
    color: #2b2b2b;
}
.login__container {
    height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    background:var(--bg-white);
}
.login__subcontainer {
    background:rgb(255, 255, 255);
    padding:3em;
    box-shadow: 5px 5px 5px #2b2b2b;
    border-radius:5px;
}
.login {
    text-align: center;
}
.login__box {
    display:flex;
    flex-direction: column;
}
.login__form {
    display:flex;
    flex-direction:column;
    gap:1em;
}
.login__form label {
    font-size:0.8em;
}
.login__form input {
    padding:0.75em;
    border-radius: 2px;
    border: 1px solid #2b2b2b;
    outline:none;
}
.login__form button {
    padding:0.2em;
    font-size:1em;
    background:none;
    max-width:fit-content;
    align-self: center;
    border:none;
    border-bottom: 2px solid #2b2b2b;
    cursor:pointer;
}

body {
    font-size:18px;
    font-weight: 500;
    user-select:none;
}
/* Footer */
footer {
    position:absolute;
    bottom:0;
    width:100%;
    left:0;
}
footer h1 {
    text-align: center;
    font-size:0.7em;
    padding:1em;
    color: #2b2b2b69;
    font-weight:500;
}
/* Navbar */
.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: #317ae7;
    padding:0.5em;
    color: #ffff;
}
.navbar__content {
    display:flex;
    gap:1em;
    align-items:center;
}
.navbar__title {
    font-weight: 500;
    font-size:1.2em;
}
.navbar__user {
    display:flex;
    gap:1em;
}
.navbar__user a {
    text-decoration:none;
    color: #ffff;
}
.navbar__burger {
    display:none;
}
.navbar__user button {
    background:none;
    color: #ffff;   
    font-weight:500;
    font-size:1em;
    border:none;
    cursor:pointer;
}
.navbar__username {
    display:flex;
    align-items: center;
    gap:0.2em;
    font-size:1em;
    font-weight:500;
}.navbar__username svg {
    width:1em;
    filter: invert(1);
}
/* Container for pages */
.container {
    display:flex;
    background:rgb(241, 239, 239);
    height:100%; 
}
/* Sidebar */
.sidebar {
    height: 100vh;
    background: #2b2b2b;
    width: 20%;
    color: #ffff;
}
.sidebar__close {
    display:none;
}
.sidebar__btns {
    display: flex;
    flex-direction: column;
    gap:1em;
    padding: 1em;
}
.sidebar__btns li {
    list-style: none;
    cursor: pointer;
    width:100%;
    display:flex;
    gap:0;
    margin:0;
}
.sidebar__btns li a:hover {
    background: #4a4a4a;
    transition: 0.2s ease-in-out;
}
.sidebar__btns__active {
    background: #4a4a4a;
}

.sidebar__btns li a {
    text-decoration: none;
    color: #ffff;
    width:100%;
    padding:0.5em;
}
/* main */
main {
    padding: 1em; 
    width:100%;
    position:relative;
}
/* Dashboard */
.welcome__back {
    font-size:var(--title-size);
    color: #2b2b2b;
}
.counts {
    display:flex;
    justify-content: space-around;
    align-items: center;
    color: #ffff;
    gap:2em;
    margin-top:3em;
}
.card {
    padding:1em;
    border-radius:0.25em;
    width: 25%;
    height:7em;
    position:relative;
}
.card__view {
    width:100%;
    background: #2b2b2b2f;
    position:absolute;
    bottom:0;
    left:0;
}
.card__view a {
    text-decoration: none;
    color: #ffff;
    font-size:0.8em;
    font-weight: 300; 
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
}
.card__view svg {
    width: 0.5em;
    filter:invert(1);
}
.card__title {
    font-weight:300;
    font-size:1em;
}
.card__number {
    font-weight:600;
}
.card--payments {
    background: var(--bg-payments);
}
.card--borrowers {
    background: var(--bg-borrowers);
}
.card--loans {
    background: var(--bg-loans);
}
.card--receivable {
    background: var(--bg-receivable);
}
/* Users page */
.users {
    height: fit-content;
    border-radius:3px;
    background: #ffff;
    padding:1em;
    margin-top:1em;
}
.users__title {
    font-size:var(--title-size);
    color: #2b2b2b;
}
.users__header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.users__table {
    width: 100%;
    height:fit-content;
}
.users__table th {
    font-weight: 600;
}
.users__table td {
    text-align:center;
}
.users__table td:nth-child(2) {
    text-align: left;
}
.users__table button {
    background: var(--bg-payments);
    padding:0.6em;
    color: #ffff;
    border:none;
    border-radius:3px;
    cursor:pointer;
    font-weight: 600;
}
/* Loan Types Page */
.loan {
    display:flex;
    justify-content: space-around;
}
.loan__title {
    font-size: var(--title-size);
    color: #2b2b2b;
    font-weight: 500;
}
.loan__form {
    background:#ffff;
    padding:1em;
    border-radius: 4px;
    box-shadow: 5px 5px 5px #2b2b2b85;
    height: fit-content;
}
.loan__form form {
    display:flex;
    flex-direction: column;
    gap:1em;
}
.loan__box {
    display:flex; 
    flex-direction: column;
    gap:0.5em;
}
.loan__form form label {
    font-size:0.9em;
    color: #2b2b2b;
}
.loan__form form input {
    padding:0.5em;
    border-radius: 2px;
    border: 1px solid #2b2b2b87;
    outline:none;
    width:25em;
}
.loan__form form button {
    padding: 0.5em;
    background: var(--bg-payments);
    border:none;
    border-radius: 2px;
    color: #ffff;
    cursor:pointer;
    font-weight: 600;
    font-size: 0.8em;
    width: 40%;
    align-self: center;
}
.loan__form form button:hover {
    background: var(--bg-payments-hover);
    transition: 0.2s ease-in-out;
}
.loan__types {
    background:#ffff;
    border-radius: 3px;
    width:65%;
    box-shadow: 5px 5px 5px #2b2b2b85;
    padding:1em;
    height: fit-content;
}
.loan__types th {
    font-weight: 600;
}
.loan__types td {
    text-align: center;
    padding:1em;
}
.loan__types td:nth-child(2) {
    text-align:left;
}
.loan__types__edit {
    background: var(--bg-payments);
    color: #ffff;
    width:6em;
    height: 2.5em;
    border-radius: 2px;
    border:none;
    cursor:pointer;
}
.loan__types__delete {
    background: var(--bg-delete);
    color: #ffff;
    width:6em;
    height: 2.5em;
    border-radius: 2px;
    border:none;
    cursor:pointer;
}
/* Borrowers Page */
.borrower__header {
    display:flex;
    align-items: center;
    justify-content: space-between;    
}
.borrower__title {
    font-size: var(--title-size);
    color: #2b2b2b;                          
}
.borrower__add__borrower {
    background: var(--bg-payments);
    padding:1em;
    border-radius: 4px;
    box-shadow: 5px 5px 5px #2b2b2b85;
    height: fit-content;
    display: flex;
    align-items: center;
    gap:0.7em;
    color:white;
    border:none;
    cursor:pointer;
}
.borrower__add__borrower svg {
    width: 1em;
    filter: invert(1);
}
.borrower {
    background: #ffff;
    border-radius: 3px;
    margin-top:1em;
}
.borrower__filter {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:1em;
}
.borrower__entries__show {
    display:flex;
    align-items: center;
    font-size:1em;
    font-weight: 500;
    gap:0.5em;
}
.borrower__entries__show select {
    padding: 0.6em;
}
.borrower__search__form {
    display:flex;
    align-items: center;
    gap:0.5em;
}
.borrower__search__form input {
    padding:0.6em;
    outline:none;
}
.borrower__table {
    width: 100%;
    height:fit-content;
    border:1px solid #2b2b2b15
}
.borrower__table th {
    font-weight: 600;
    text-align:center;
    padding:0.5em;
}
.borrower__table tr {
    text-align: center;
}
.borrower__table tr td:nth-child(2) {
    display:flex;
    flex-direction: column;
    text-align: left;
    gap:0.5em;
    font-size: 0.9em;
    padding:1em;
}
/* Popup Edit Loan Type */
.edit {
    background:rgba(0, 0, 0, 0.475);
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
    display:none;
    justify-content: center;
    align-items: center;
    z-index:100;
}
.edit__box {
    background: #ffff;
    border-radius: 5px;
    padding:2em;
    height: fit-content;
    width:20em;
}
.edit__title {
    font-size: var(--title-size);
    color: #2b2b2b;
}
.edit__head {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.edit__close {
    width: 0.8em;
    cursor:pointer;
}
.popup__update__loans {
    display:flex;
    flex-direction: column;
    gap:1em;
    margin-top:1em;
}
.popup__update__loans div {
    display:flex;
    flex-direction: column;
    gap:0.5em;
}
.popup__update__loans label {
    font-size: 0.9em;
    color: #2b2b2b;
    font-weight: 500;
}
.popup__update__loans input {
    padding:0.6em;
    outline:none;
    border-radius:2px;
    border:1px solid #2b2b2b81;
}
.popup__update__loans button {
    background: var(--bg-payments);
    color: #ffff;
    font-size:0.9em;
    width: 50%;
    border:none;
    padding:0.4em;
    border-radius:4px;
    align-self:flex-end;
    cursor:pointer;
    font-weight: 500;
}
/* Delete Modal */
.delete {
    background:rgba(0, 0, 0, 0.475);
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
    display:none;
    justify-content: center;
    align-items: center;
}
.delete__box {
    background: #ffff;
    border-radius: 5px;
    padding:2em;
    height: fit-content;
    width:20em;
}
.delete__title {
    font-size: var(--title-size);
    color: #2b2b2b;
}
.delete__head {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.ask__delete__title {
    font-size: 0.8em;
    color: #2b2b2b;
    text-align:center;
}
.ask__buttons {
    display:flex;
    justify-content: center;
    gap:1em;
    margin-top: 1em;
}
.ask__buttons button:nth-child(1) {
    background: var(--bg-delete);
    color: #ffff;
    border:none;
    border-radius: 3px;
    cursor:pointer;
}
.ask__buttons span {
    background:var(--bg-payments);
    color: #ffff;
    border:none;
    border-radius: 3px;
    cursor:pointer;
    width:5em;
    height: 2.4em;
    text-align: center;
    font-size:0.8em;
    display:flex;
    align-items: center;
    justify-content: center;
}
.ask__buttons button {
    width:5em;
    height:2.4em;
    font-size:0.8em;
}
/* Payments page modal */
.edit__payment {
    background: var(--bg-dim);
    height: 100%;
    width:100%;
    position:absolute;
    left:0;
    top:0;
    z-index: 100;
    display:none;
    justify-content: center;
    align-items: center;
}
.edit__payment__box {
    background: #ffff;
    border-radius: 5px;
    padding:2em;
    height: fit-content;
    width: 30em;
}
.edit__payment__box form {
    display:flex;
    flex-direction:column;
    gap:1em;
    border-top: 1px solid #2b2b2b81;
    margin-top: 1em;
}
.edit__payment__box__header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.payment__box {
    display:flex;
    flex-direction: column;
    padding:0.4em;
}
.payment__box input {
    width:50%;
    padding:0.4em;
    border-radius:3px;
    outline:none;
    border:1px solid #2b2b2b81;
}
.payment__box__monthly {
    display:flex;
    align-items: center;
    justify-content:space-around;
    border-top: 1px solid #2b2b2b81;
    padding:1em;
    gap:2em;
}
.payment__box__monthly div:nth-child(1) {
    display:flex;
    flex-direction: column;
    font-size:0.9em;
    gap:0.4em;
}
.payment__box__monthly div:nth-child(2) {
    display:flex;
    flex-direction: column;
    font-size:0.9em;
    gap:0.4em;
}
.payment__box__monthly div input {
    width:100%;
    padding:0.4em;
    border-radius:3px;
    outline:none;
    border:1px solid #2b2b2b81;
}
.payment__save {
    background: var(--bg-payments);
    color: #ffff;
    font-size:0.9em;
    width: 30%;
    border:none;
    padding:0.4em;
    border-radius:4px;
    align-self:flex-end;
    cursor:pointer;
    font-weight: 500;
}
/* Borrower page modal */
.new__borrower {
    height: 100%;
    width:100%;
    position:absolute;
    left:0;
    top:0;
    z-index: 100;
    background: var(--bg-dim);
    display:none;
    justify-content: center;
    align-items: center;
}
.new__borrower__box {
    background: #ffff;
    padding:2em;
    height: fit-content;
    width:fit-content;
    border-radius:4px;
}
.new__borrower__box form {
    display:flex;
    flex-direction:column;
    
}
.new__borrower__title {
    font-size: var(--title-size);
    color: #2b2b2b;
}
.new__borrower__header {
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.new__borrower__close {
    width:1em;
    cursor:pointer;
}
.names__box,.names__address__box {
    display:flex;
    align-items: center;
    justify-content: space-around;
    gap:1em;
    padding:1em;
}
.names__box div {
    display:flex;
    flex-direction: column;
    font-size:0.9em;
    gap:0.4em;
}
.names__box div input {
    padding:0.5em;
    outline:none;
}
.names__address__box {
    display:flex;
    font-size:0.9em;
    gap:0.4em;
    width:100%;
}
.names__email__box {
    display:flex;
    padding:1em;
    font-size:0.9em;
    gap:0.4em;
    width:100%;
}
.names__address__box div,.names__email__box div {
    display:flex;
    flex-direction: column;
    font-size:0.9em;
    gap:0.4em;
    width:100%;
}
.names__address__box div input,.names__email__box div input {
    padding:0.5em;
    outline:none;
    width:100%;
}
.new__borrower__save {
    padding:0.5em;
    align-self: flex-end;
    cursor:pointer;
    font-weight: 500;
    background: var(--bg-payments);
    color: #ffff;
    border:none;
    border-radius:4px;
    width:8em;
    margin:1em;
}
/* Edit borrower */ 
.edit__borrower {
    height: 100%;
    width:100%;
    position:absolute;
    left:0;
    top:0;
    z-index: 100;
    background: var(--bg-dim);
    display:none;
    justify-content: center;
    align-items: center;
}
.edit__borrower__box {
    background: #ffff;
    padding:2em;
    height: fit-content;
    width:fit-content;
    border-radius:4px;
}
.edit__borrower__box form {
    display:flex;
    flex-direction:column;
    
}
.edit__borrower__title {
    font-size: var(--title-size);
    color: #2b2b2b;
}
.edit__borrower__header {
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.edit__borrower__close {
    width:1em;
    cursor:pointer;
}
.edit__borrower__save {
    padding:0.5em;
    align-self: flex-end;
    cursor:pointer;
    font-weight: 500;
    background: var(--bg-payments);
    color: #ffff;
    border:none;
    border-radius:4px;
    width:8em;
    margin:1em;
}
/* Loan page modal */
.new__loan {
    display:flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-dim);
    height: 100%;
    width:100%;
    position:absolute;
    left:0;
    top:0;
    z-index:100;
}
.new__loan__box {
    background: #ffff;
    border-radius:4px;
    width: 400px;
    height: 400px;
    overflow-y: scroll;
    padding:2em;
}
.new__loan__box__header {
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.new__loan__title {
    font-size:var(--title-size);
    color:#2b2b2b;
}
.new__loan__close {
    width:1em;
    cursor:pointer;
}
.new__loan__borrower {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:1em;
}
.new__loan__form {
    display:flex;
    flex-direction: column;
    gap:0.2em;
    margin-top: 1em;
}
.new__loan__borrower div {
    display:flex;
    flex-direction: column;
}
.new__loan__borrower div label {
    font-size: 0.9em;
    color:#2b2b2b;
}
.new__loan__borrower div select {
    padding:0.5em;
    border: 1px solid #2b2b2b81;
    outline:none;
    border-radius:3px;
    width:15em;
}
.new__loan__plan {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:1em;
    margin-top: 1em;
}
.new__loan__plan div {
    display:flex;
    flex-direction: column;
}
.new__loan__plan div label {
    font-size: 0.9em;
    color: #2b2b2b;
}
.new__loan__plan div span {
    font-size: 1em;
}
.new__loan__plan div input,.new__loan__plan div select {
    padding:0.5em;
    border: 1px solid #2b2b2b81;
    outline:none;
    border-radius:3px;
    width:15em;
}
.new__loan__purpose {
    display:flex;
    justify-content:flex-start;
    flex-direction: column;
    gap:1em;
    margin-top: 1em;
}
.new__loan__purpose div {
    display:flex;
    flex-direction: column;
}
.new__loan__purpose label {
    font-size: 0.9em;
    color: #2b2b2b;
}
.new__loan__purpose div textarea {
    padding:0.5em;
    border: 1px solid #2b2b2b81;
    outline:none;
    border-radius:3px;
    width:15em;
}
.new__loan__purpose select, .new__loan__purpose input {
    padding: 0.5em;
    border: 1px solid #2b2b2b81;
    outline:none;
    border-radius:3px;
}
.new__loan__term {
    display:flex;
    flex-direction: column;
    gap:1em;
    justify-content: flex-start;
    margin-top:1em;
}
.new__loan__term div {
    display:flex;
    flex-direction: column;
}
.new__loan__term div label {
    font-size: 0.9em;
    color: #2b2b2b;
}
.new__loan__save {
    background: var(--bg-payments);
    color: #ffff;
    font-size:0.9em;
    width: 30%;
    border:none;
    padding:0.4em;
    border-radius:4px;
    align-self:flex-end;
    cursor:pointer;
    font-weight: 500;
}
/* New payment modal */
.new__payment {
    background: var(--bg-dim);
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:100;
    display:none;
    align-items: center;
    justify-content: center;
}
.new__payment__box {
    background: #ffff;
    border-radius:4px;
    width: fit-content;
    padding:2em;
}
.new__payment__header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:20em;
}
.new__payment__title {
    font-size:var(--title-size);
    color:#2b2b2b;
}
.new__payment__close {
    width:1em;
    cursor:pointer;
}
.new__payment__form {
    display:flex;
    flex-direction: column;
    gap:1em;
    margin-top:1em;
}
.new__payment__form div {
    display: flex;
    flex-direction: column;
}
.new__payment__form div input {
    padding:0.5em;
    outline:none;
    width:100%;
}
.new__payment__save {
    background: var(--bg-payments);
    color: #ffff;
    font-size:0.9em;
    width: 30%;
    border:none;
    padding:0.4em;
    border-radius:4px;
    align-self:flex-end;
    cursor:pointer;
    font-weight: 500;
}

/* New user modal */
.new__user {
    background: var(--bg-dim);
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:100;
    display:none;
    align-items:center;
    justify-content:center;
}
.new__user__box {
    background: #ffff;
    border-radius:4px;
    width: fit-content;
    padding:2em;
}
.new__user__header {
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:15em;
}
.new__user__title {
    font-size:var(--title-size);
    color:#2b2b2b;
}
.new__user__close {
    width:1em;
    cursor:pointer;
}
.new__user__form {
    display:flex;
    flex-direction:column;
    gap:0.5em;
    margin-top: 1em;
}
.new__user__form div {
    display:flex;
    flex-direction:column;
}
.new__user__form div label {
    font-size: 0.9em;
    color:#2b2b2b;
}
.new__user__form div input {
    padding:0.5em;
    outline:none;
    width:100%;
}
.new__user__form button {
    background: var(--bg-payments);
    color: #ffff;
    font-size:0.9em;
    width: 30%;
    border:none;
    padding:0.4em;
    border-radius:4px;
    align-self:flex-end;
    cursor:pointer;
    font-weight: 500;
}
/* Profile Page */
.profile__photo__container {
    position:relative;
    width: 300px;
    height: 300px;
    border: 0.5px solid #2b2b2b60;
    /* overflow:hidden; */
}
.profile__photo__container input {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    cursor:pointer;
}
.profile__header {
    display:flex; 
    align-items:center;
    justify-content: space-between;
}
.profile__title {
    font-size:var(--title-size);
    color:#2b2b2b;
}
.profile__info {
    display:flex;
    background: #ffff;
    margin-top:1em;
    padding:1em;
    border-radius: 3px;
    gap: 2em;
    box-shadow:5px 5px 5px #2b2b2b3a;
}
.photo_form {
    height: 100%;
    width: 100%;
    position:relative;
    bottom:0;
    opacity:1;
} 
.photo_form button {
    opacity:2;
    background:var(--bg-payments);
    padding:0.5em;
    color: #ffff;
    border:none;
    font-size: 0.9em;
    border-radius:4px;
    bottom:-1em;
    position:absolute;
}
/* Profile Modal */
.edit__profile {
    display:flex;
    flex-direction:column;
}
.edit__profile__title {
    font-size: var(--title-size);
    color: #2b2b2b;
}
.edit__profile__form {
    display:flex;
    flex-direction:column;
    gap:1em;
    margin-top:1em;
    background: #ffff;
    border-radius:3px;
    padding: 2em;
    width:20em;
}
.edit__profile__header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.edit__profile__close {
    width:1em;
    cursor:pointer;
}
@media screen and (max-width: 776px) {
    body {
        font-size: 12px;
    }
    .sidebar {
        display:none;
        position:fixed;
        right:0;
        top:0;
        z-index: 100;
        width: 50%;
    }
    .sidebar__close {
        display:block;
        filter: invert(1);
        width:1em;
        position:fixed;
        right: 1em;
        top:1em;
    }
    .sidebar__btns {
        margin-top:2em;
    }
    .navbar__user {
        display:none;
    }
    .navbar__title {
        font-size:0.9em;
    }
    .navbar__burger {
        background:none;
        border:none;
        display: flex;
        align-items: center;
    }
    .navbar__burger svg {
        width: 2em;
        filter:invert(1);
    }
    .container {
        height: 100vh;
    }
    .counts {
        flex-direction: column;
    }
    .card {
        width: 100%;
    }
}