:root {
    --bg-white: rgb(241, 239, 239);

    --bg-payments: #007AF7;
    --bg-borrowers: #28A649;
    --bg-loans: #FEC417;
    --bg-receivable: #17A5AA;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
/* Login page and Signup page */
.login {
    color: #2b2b2b;
}
.login__container {
    height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    background:var(--bg-white);
}
.login__subcontainer {
    background:rgb(255, 255, 255);
    padding:3em;
    box-shadow: 5px 5px 5px #2b2b2b;
    border-radius:5px;
}
.login {
    text-align: center;
}
.login__box {
    display:flex;
    flex-direction: column;
}
.login__form {
    display:flex;
    flex-direction:column;
    gap:1em;
}
.login__form label {
    font-size:0.8em;
}
.login__form input {
    padding:0.75em;
    border-radius: 2px;
    border: 1px solid #2b2b2b;
    outline:none;
}
.login__form button {
    padding:0.2em;
    font-size:1em;
    background:none;
    max-width:fit-content;
    align-self: center;
    border:none;
    border-bottom: 2px solid #2b2b2b;
    cursor:pointer;
}

body {
    font-size:18px;
    font-weight: 500;
    user-select:none;
}
/* Navbar */
.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: #317ae7;
    padding:0.5em;
    color: #ffff;
}
.navbar__content {
    display:flex;
    gap:1em;
    align-items:center;
}
.navbar__title {
    font-weight: 500;
    font-size:1.2em;
}
.navbar__user {
    display:flex;
    gap:1em;
}
.navbar__user button {
    background:none;
    color: #ffff;   
    font-weight:500;
    font-size:1em;
    border:none;
    cursor:pointer;
}
.navbar__username {
    font-size:1em;
    font-weight:500;
}
/* Container for pages */
.container {
    display:flex;
    background:rgb(241, 239, 239);
    height:100% 
}
/* Sidebar */
.sidebar {
    height: 100vh;
    background: #2b2b2b;
    width: 20%;
    color: #ffff;
}
.sidebar__btns {
    display: flex;
    flex-direction: column;
    gap:1em;
    padding: 1em;
}
.sidebar__btns li {
    list-style: none;
    padding:0.5em;
    cursor: pointer;
}
.sidebar__btns li:hover {
    background: #4a4a4a;
    transition: 0.2s ease-in-out;
}
.sidebar__btns li a {
    text-decoration: none;
    color: #ffff;
}
/* main */
main {
    padding: 1em; 
    width:100%;
}
/* Dashboard */
.welcome__back {
    font-size:1.4em;
    color: #2b2b2b;
}
.counts {
    display:flex;
    justify-content: space-around;
    align-items: center;
    color: #ffff;
    gap:2em;
    margin-top:3em;
}
.card {
    padding:1em;
    border-radius:0.25em;
    width: 25%;
    height:7em;
    position:relative;
}
.card__view {
    width:100%;
    background: #2b2b2b2f;
    padding:0.5em;
    position:absolute;
    bottom:0;
    left:0;
}
.card__view a {
    text-decoration: none;
    color: #ffff;
    font-size:0.8em;
    font-weight: 300; 
}
.card__title {
    font-weight:300;
    font-size:1em;
}
.card__number {
    font-weight:600;
}
.card--payments {
    background: var(--bg-payments);
}
.card--borrowers {
    background: var(--bg-borrowers);
}
.card--loans {
    background: var(--bg-loans);
}
.card--receivable {
    background: var(--bg-receivable);
}
/* Users page */
.user__add {
    position:fixed;
    bottom:1em;
    right:1em;
    border-radius: 50px;
    height:3em;
    width:3em;
    background: #ffff;
    border: 1px solid #2b2b2b;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
}
.user__add:hover {
    background: #4a4a4a;
    transition: 0.2s ease-in-out;
}
.user__add svg {
    width: 1em;
}